
#details > div {
	width: 90%;
	/* border: 1px solid red; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	margin:100px auto;

}

#details > div > div {
	text-align: left;
	font-size: larger;
}

#details > div img {
	width: 600px;
}

#details p {
	font-size: 15px;
	color: gray;
}
