#newsArticle{
    width: 80%;
    height:auto;
    /* border: 1px solid red; */
    display: flex;
    gap:50px;
    margin: auto;
    margin-top: 50px;
}

#newsArticle>img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}

#newsArticle>div>p{
    color:grey;
}

#awards{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}