* {
	font-family: "Circular Std", sans-serif;
}

#projectForm {
	width: 50%;
	height: auto;
	margin: 50px auto;
	/* border: 1px solid red; */
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#projectForm > form {
	display: grid;
    
	grid-template-columns: 1fr;
	/* border: 1px solid pink; */
}

#title {
	width: 77%;
	height: 50px;
	margin: 20px auto;
	border-radius: 10px;
    padding-left:10px ;
    font-size: larger;
	/* background-color: black;
	color: white; */
}

#category {
	width: 80%;
	height: 50px;
	margin: auto;
    font-size: larger;
	border-radius: 10px;
}

#category + div {
	width: 80%;
	margin: 20px auto;
	display: flex;
    border-radius: 10px;
	justify-content: space-evenly;
	align-items: center;
    
	background-color: #47b17c;
}

#category + div > input {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	/* border: none; */
    font-size: larger;
}

div + input {
	width: 50%;
	height: 50px;
	margin: 10px auto;
	border: none;
    background-color: black;
    color: white;
	border-radius: 10px;
    font-size: larger;
}


input:hover{
    cursor: pointer;
    background-color: grey;
}

#category + div > input:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}